{% extends "base.html" %}
{% block content %}
<div class='col-md-12 offset-md-1'>
    {% if user.is_authenticated %}
    <h1>Jobs</h1>
    {% if jobs %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for job in jobs %}
        <div class="col">
            <div class="card mb-3">
                <a href="{% url "job" job.id %}">
                    <h5 class="card-header"><strong>{{job.positionName}}</strong></h5>
                </a>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Salary: {{job.salary}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Location: {{job.location}}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    
    {% endif %}
    {% else %}
    <h1>login</h1>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label>username</label>
            <input type="text" class="form-control" name='username' , placeholder='username' required>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control" name='password' , placeholder='password' required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endif %}
{% endblock %}